<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>激活码率转换</title>

    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">

    <style>
        .well {
            position: fixed;
            top: 30%;
            left: 10%;
            right: 10%;
        }
    </style>
</head>
<body>
    <div class="well">
        <div class="form-group">
            <textarea type="text" rows="6" class="form-control" placeholder="请输入原始的m3u8地址"></textarea>
        </div>
        <div class="alert alert-info">激活的码率包括
            <i class="label label-primary" data-m="256">256</i>
            <i class="label label-primary" data-m="580">580</i>
            <i class="label label-primary" data-m="910">910</i>
            <i class="label label-primary" data-m="1024">1024</i>
            <i class="label label-primary" data-m="2048">2048</i>
        </div>
        <button class="btn btn-primary btn-block">激活</button>
    </div>
    
    <script src="/static/lib/me/jquery.js"></script>
    <script>
        if (getCookie('resoluton-m3u8') !== '') {
            $('textarea').val(getCookie('resoluton-m3u8'));
        }

        $('.btn').click(function () {
            var m = $('textarea').val().trim();
            $('.label').removeClass('label-success').addClass('label-primary');

            var arr = [256, 580, 910, 1024, 2048];

            if (m) {
                if (m.indexOf('.m3u8') < 0) {
                    alert('不是m3u8地址');
                    return;
                }

                setCookie('resoluton-m3u8', m);
                $('button').addClass('disabled');

                for (var i=0, len = arr.length; i < len; i++) {
                    var temp = m.split('.m3u8');
                    temp[0]+='_';
                    temp[0]+=arr[i];
                    temp[0]+='.m3u8'
                    var url = temp[0] + temp[1];
                    console.log(url);    

                    var qer = arr[i];
                    getM3u8(url, qer);
                }
            }
        });

        function getM3u8 (url, val) {
            $.get(url, function () {
                console.log(val);
                $('i[data-m=' + val + ']').removeClass('label-primary').addClass('label-success');
                console.log('success');

                $('button').removeClass('disabled');
            });
        }

        function setCookie(name,value) 
        { 
            var Days = 30; 
            var exp = new Date(); 
            exp.setTime(exp.getTime() + Days*24*60*60*1000); 
            document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString(); 
        } 

        function getCookie(name) 
        { 
            var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
         
            if(arr=document.cookie.match(reg))
         
                return unescape(arr[2]); 
            else 
                return null; 
        } 
    </script>
</body>
</html>