<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style>
        video {
            width: 100%;
        }
        html, body {
            background-color: #333;
        }
        body {
            color: #fff;
            text-align: center;
            text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12" id="video1-wrapper">
                    <video id="video1" controls preload>
                        <!-- <source src="http://tblivestream.baidu.com/live/e4d528960b59616e65c96a6edislb11ff.m3u8?bduss=9c74b8a2cfba0cb324d334e686ac06b9&room_id=5000009" type="video/mp4"/> -->
                         <source src="" type="video/mp4"/>
                     </video>
                </div>
                <div class="col-md-12">
                    <div class="text-left">
                        视频1：卡顿:
                        <span class="label label-danger" id="video1-count">0</span>次
                        <span class="label label-warning" id="video1-time">0</span>s
                        stalled
                        <span class="label label-warning" id="video1-stalled">0</span>次
                        当前时间：
                        <span class="label label-success" id="video1-current-time">0</span>s
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-left">
                        视频2：卡顿:
                        <span class="label label-danger" id="video2-count">0</span>次
                        <span class="label label-warning" id="video2-time">0</span>s
                        stalled
                        <span class="label label-warning" id="video2-stalled">0</span>次
                        当前时间：
                        <span class="label label-success" id="video2-current-time">0</span>s
                    </div>
                </div>
                <div class="col-md-12" id="video1-wrapper">
                     <video id="video2" controls preload>
                        <!-- <source src="http://rtmp.tieba.baidu.com/live/e4d528960b59616e65c96a6edislb11ff.m3u8?bduss=9c74b8a2cfba0cb324d334e686ac06b9&room_id=5000009" type="video/mp4"/> -->
                         <source src="" type="video/mp4"/>
                     </video>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label>一</label>
                    <textarea rows="3" id="addr1" type="text" class="form-control" placeholder="m3u8地址">
                        http://d1g7sccev8onz8.cloudfront.net/dvrcf/smil:87ch5.smil/playlist.m3u8
                    </textarea>
                </div>
                <div class="form-group">
                    <label>二</label>
                    <textarea rows="3" id="addr2" type="text" class="form-control" placeholder="m3u8地址">
                        http://d1g7sccev8onz8.cloudfront.net/dvrcf/smil:87ch8.smil/playlist.m3u8
                    </textarea>
                </div>
                <div class="form-group">
                    <div class="btn-block btn btn-primary btn-lg" id="start-diff">开始对比</div>
                </div>
            </form>
        </div>
    </div>

    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
    $(function () {
        var $v1 = $('#video1');
        var $v2 = $('#video2');
        var v1 = $v1[0];
        var v2 = $v2[0];
        window.v1 = v1;
        window.v2 = v2;

        v1.volume = 0;
        v2.volume = 0;

        if (localStorage.getItem('v1Src') !== 'empty') {
            v1.src = localStorage.getItem('v1Src') || 'http://d1g7sccev8onz8.cloudfront.net/dvrcf/smil:87ch5.smil/playlist.m3u8';    
        }

        if (localStorage.getItem('v2Src') !== 'empty') {
            v2.src = localStorage.getItem('v2Src') || 'http://d1g7sccev8onz8.cloudfront.net/dvrcf/smil:87ch8.smil/playlist.m3u8';
        }

        $('#addr1').text(v1.src);
        $('#addr2').text(v2.src);

        v1.kaCount = 0;
        v1.kaTime = 0;
        v1.stalled = 0;
        v2.kaCount = 0;
        v2.kaTime = 0;
        v2.stalled = 0;

        var allEvents = ['onplay', 'onseeking', 'onabort',
            'onanimationend', 'onanimationiteration', 'onanimationstart',
            'onbeforecopy', 'onbeforecut', 'onbeforeload',
            'onbeforepaste', 'onblur', 'oncanplay',
            'oncanplaythrough', 'onchange', 'oncut',
            'ondurationchange', 'onemptied', 'onended',
            'onerror', 'oninvalid', 'onload', 'onloadeddata',
            'onloadedmetadata', 'onloadstart', 'onpause', 'onplay',
            'onplaying', 'onprogress', 'onratechange', 'onreset',
            'onsearch', 'onseeked', 'onseeking', 'onselect',
            'onselectstart', 'onselectstart', 'onstalled',
            'onsubmit', 'onsuspend', 'ontimeupdate',
            'ontransitionend', 'onvolumechange', 'onwaiting',
            'onwebkitcurrentplaybacktargetiswirelesschanged',
            'onwebkitkeyadded', 'onwebkitkeyerror', 'onwebkitkeymessage',
            'onwebkitneedkey', 'onwebkitplaybacktargetavailabilitychanged',
            'onwebkittransitionend', 'onwheel'];

        var explanation = {
            onstalled: '网络状况不佳，导致视频下载中断'
        };

        var blackList = ['ontimeupdate', 'onprogress'];
        // var dangerList = ['oncanplay', 'playing', 'onwaiting', 'onwebkitplaybacktargetavailabilitychanged'];
        var dangerList = [];

        var listeningList = {
            onwaiting: function (e) {
                var id = $(e.target).attr('id');
                $('#' + id + '-wrapper').css('border', '3px solid red');
                $(e.target).trigger('kadun');
            },
            onstalled: function (e) {
                $(e.target).trigger('cus-stalled');
            },
            oncanplaythrough: function (e) {
                $(e.target)[0]['cus-canplaythrough'] = true;
            },
            onplaying: function (e) {
                // var video = $(e.target)[0];
                // if (!video.cusHasPlayed) {
                //     video.cusFirstPlayTime = ((new Date().getTime()) / 1000);
                //     video.cusHasPlayed = true;
                // }
            },
            ontimeupdate: function (e) {
                var $video = $(e.target);
                var video = $(e.target)[0];
                var id = $video.attr('id');

                $('#' + id + '-wrapper').css('border', 'none');
                
                if (!video.cusHasPlayed) {
                    video.cusFirstPlayTime = ((new Date().getTime()) / 1000);
                    video.cusHasPlayed = true;
                }
                
                var kaTime = ((new Date().getTime()/1000) - video.cusFirstPlayTime - video.currentTime).toFixed(1);
                $('#' + id + '-time')
                    .html(kaTime);
                $('#' + id + '-current-time').html(video.currentTime.toFixed(4));

                // console.log(id, 'ontimeupdate', video.currentTime);
            }
        }

        function isKaDun (video) {
            return video.played.length === 1 && (video.readyState === 2 || video.readyState === 3);
        }

        $('video').on('kadun', function (e) {
            var $video = $(e.target);
            $video[0].kaCount++;
            var id = $video.attr('id');
            $('#' + id + '-count').html($video[0].kaCount);
        });

        $('video').on('cus-stalled', function (e) {
            var $video = $(e.target);
            $video[0].stalled++;
            var id = $video.attr('id');
            $('#' + id + '-stalled').html($video[0].stalled);
        });

        var canPlayTimer = setInterval(function() {
            if (v1['cus-canplaythrough'] && v2['cus-canplaythrough']) {
                clearInterval(canPlayTimer);
                
                setTimeout(function () {
                    console.info('=============开始播放============');
                    v1.play();
                    v2.play();    
                }, 10*1000);
            }
        }, 20);

        $.each(allEvents, function (i, event) {

            var logType = dangerList.indexOf(event) >=0 ? 'error' : 'log';
            var func = listeningList[event];

            v1[event] = function (e) {
                if (blackList.indexOf(event) < 0) {
                    console[logType]('视频1', event.substring(2), explanation[event]);    
                    explanation[event] && console.log(explanation[event]);
                }
                func && func(e);
            }

            v2[event] = function (e) {
                if (blackList.indexOf(event) < 0) {
                    console[logType]('视频2', event.substring(2), explanation[event]);    
                    explanation[event] && console.log(explanation[event]);
                }
                func && func(e);
            }
        });

        $('#start-diff').on('click', function () {  
            var addr1 = $('#addr1').val().trim() || 'empty';
            var addr2 = $('#addr2').val().trim() || 'empty';

            localStorage.setItem('v1Src', addr1);
            localStorage.setItem('v2Src', addr2);

            location.reload();
        });
    });
    </script>
</body>
</html>